/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
  flex: 1;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}
/*removable*/
.cover {
  width: 260px;
  object-fit: cover;
}
/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  /*removable*/
  margin-top: 10px;
  justify-content: center;
  
}

.item {
  flex: 1;
  margin: 10px;
  padding-top:70px;
}

.item-double {
  flex: 2;
  padding-top:70px
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}
/* removable*/
header nav { 
  display: flex;
  justify-content: center;
}
/*removable*/
header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
} 

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
  margin: 5px
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/*removable*/
.formgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 }
 /*removable*/
 .formitem {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }


header nav {
  margin-top: 8px;
}

header nav ul li a:hover {
  color: #bdbdbd
} 
.container {
  flex-direction: row;
  display: flex;
}
.formgroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }
 .group {
  display: flex;
  flex-direction: row;
  /*removable*/
  margin-bottom: 100px;
 
}

}
/*added extra media query because I could not figure out how to fix the logo not sizing right*/
@media all and (min-width: 480px) and (max-width: 650px) {
  .logo {
    font-family: "Tangerine", cursive;
    font-size: 37px;
    color: #ecdbc9;
  }
}